{% extends "base.html" %} 

{% block login %}
    <style>
      .b1:hover {
          background-color: rgba(229, 191, 191, 0.12);
          color: white;

      }
    </style>
    <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center; margin: 0 auto">
  <div class="card-header">Welcome to the dream</div>
  <div class="card-body text-primary">
    <h5 class="card-title">欢迎来到梦境</h5>
      <form method="post">
        {{ form.csrf_token }}
        {{ form.username(class="form-control", placeholder="手机号/邮箱", id="username") }}
        <br>
      <div class="input-group mb-3" >
      <input type="text" class="form-control" placeholder="验证码" aria-label="Recipient's username" aria-describedby="button-addon2" required name="vif">
          <div class="input-group-append">
             <button class="btn b1" type="button" id="dyMobileButton" style="border-color:#ced4da; font-size: 8px; color: #6cbfee;">获取</button>
         </div>
     </div>
        <br>
        {{ form.submit(class="btn btn-success btn-lg btn-block", style="font-size:12px;") }}
    </form>
      <div>
        <a href="{{ url_for('users.pwd_login') }}" style="float: right; font-size: 8px; padding-top:5px">密码登录</a>
        <span style="color: rgba(128,128,128,0.77); font-size: 8px">未注册的会直接注册</span>
      </div>
  </div>
</div>

    <script>
　 　//给按钮一个点击事件
　 　$('#dyMobileButton').click(function () {
　　 　　//设置时常，以秒计算
　  　　  var time=60;
　　　　var timer = setInterval(function () {
　　　　　　 time--;
　　　　　　 if (time > 0){
　　　　　　　　 //正在倒计时
　　　　　　　　 $('#dyMobileButton').html(time + '秒');
　　　　　　　　 $('#dyMobileButton').prop('disabled',true);
　　　　　　 }else{
　　　　　　　　 $('#dyMobileButton').html('获取');
　　　　　　　　 $('#dyMobileButton').prop('disabled',false);
　　　　　　　　 clearInterval(timer);
　　　　　　 }
　　　　 },1000)
　　 })
</script>
    <script>
        // 获取验证码
        $(function (){
            $("#dyMobileButton").click(function (){
                $.ajax({
                    url: '/user/get_code',
                    type: 'post',
                    data: {username: $("#username").val()}
                })
            })
        })
    </script>
{% endblock %}