{% extends "base.html" %} 

{% block register %}
     <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center; margin: 0 auto">
  <div class="card-header">Welcome to the dream</div>
  <div class="card-body text-primary">
    <h5 class="card-title">欢迎来到梦境</h5>
      <form method="post">
        {{ form.csrf_token }}
        {{ form.username(class="form-control", placeholder="手机号/邮箱/ID") }}
        <br>
        {{ form.password(class="form-control", placeholder="密码") }}
        <br>
        {{ form.submit(class="btn btn-success btn-lg btn-block", style="font-size:12px;") }}
    </form>
      <div>
        <a href="{{ url_for('users.login') }}" style="float: right; font-size: 8px; padding-top:5px">验证码登录</a>
      </div>
  </div>
</div>
{% endblock %}