{% extends 'base.html' %}

{% block register %}
    <style>
        .a {margin-top: 10px}
    </style>
    <!--新用户注册资料填写页面-->
    <form>
    <div class="form-group col-md-5" style="margin: 0 auto">
        <input type="text" class="form-control" placeholder="兄台,尊姓大名?" required id="name">
      <label for="inputState">选择性别</label>
      <select id="gender" class="form-control" required>
        <option selected>男</option>
          <option>女</option>
      </select>
        <label for="inputState">你的生日</label>
        <input class="a" type="date" id="sr" required>
        <input type="email" class="a form-control" placeholder="设置你的邮箱" required id="mail">
        <input type="text" class="a form-control" placeholder="设置你的手机号" required id="phone">
        <input type="password" class="a form-control" placeholder="设置你的密码" required id="pwd">
        <input type="password" class="a form-control" placeholder="再次输入你的密码" required id="pwd2">
        <br>
        <hr>
        <a href="#" style="float: right" id="ok">完成 →</a>
    </div>
    </form>
    <script>
    $(function (){
        $("#ok").click(function (){
            $.ajax({
                url: '/user/new_register',
                type: 'post',
                data: {
                    username: $("#name").val(),
                    gender: $("#gender").val(),
                    sr: $("#sr").val(),
                    mail: $("#mail").val(),
                    phone: $("#phone").val(),
                    pwd: $("#pwd").val(),
                    pwd2: $("#pwd2").val(),
                }
            })
        })
    })
    </script>
{% endblock %}