<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>ajax文章测试</title>
</head>
<body>
    <div class="body">内容如下</div>
    <button id="load">...加载更多...</button>


    <script type="text/javascript">
        $(function() {
            $('#load').click(function() {
                $.ajax({
                    url: '/post',
                    type: 'get',
                    success: function(data){
                        // 通过jquery在div中追加data数据
                        console.log(data);
                        $('.body').append(data);
                    }

                })
            })
        })
    </script>
</body>
</html>