<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
</head>
<body>
<input type="text" placeholder="输入房间名" id="room">
<a href="javascript:jr()">加入</a>
<div id="t" style="border: red solid 1px; width: 80%; height:200px; overflow:auto">
</div>

<textarea  id="inp"></textarea>
<button id="fs"> 点我发送</button>

<script>
    {% if um %}
        var name = "{{ um.username}}";
    {% else %}
        var name = "匿名";
    {% endif %}

   

    jr = function(){
        // 获取房间名称
        var room = $("#room").val();    // 获取房间名
        // 这里测试的时候可以改成127.0.0.1 如果让局域网内的人访问必须用host
        var socket = io.connect("http://"+location.host+"/"+room);
        // 连接成功后发送信息
        socket.on("connect", function() {
            socket.emit();
        })
        // 接受后台的发送到ceshi的消息，注意 ceshi不要写错要和后台的ceshi名称一致
        socket.on(room, function(data) {
            // 这个data是后台发来的
            console.log(data);
            // 把消息写入到html中进行展示
            $('#t').append(data).append('<br>')
        })

         $('#fs').click(function(event){
            // 通过socket发送
            var d= $("#inp").val();       // 获取输入框的内容
            // 发送信息直接通过socket，而不是通过请求
            socket.emit(room,d);
            $("#inp").val("");       // 清空输入框

    })
        
    }
   
</script>
</body>
</html>