
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <link rel="stylesheet" href="/static/vuikit-0.8.5/vuikit.min.css">
    <script src="/static/vuikit-0.8.5/vuikit.min.js"></script>
    <script src="/static/vuikit-0.8.5/vuikit-icons.min.js"></script>
    <script src="/static/js/vue-2.5.16.js"></script>

    <title>欢迎来到聊天室</title>
</head>
<body>
    <div id="app">
        测试
        <p v-vk-margin>
  <vk-button>Default</vk-button>
  <vk-button type="primary">Primary</vk-button>
  <vk-button type="secondary">Secondary</vk-button>
  <vk-button type="danger">Danger</vk-button>
  <vk-button type="text">Text</vk-button>
  <vk-button type="link">Link</vk-button>
</p>
    </div>



    <h1>欢迎来到聊天室</h1>
    <input placeholder="输入房间名" id="r">
    <a href="javascript:jb()">加入</a>
    <button id="exit">退出</button>
    <hr>
    <!-- 消息展示框 -->
    <div id="t" style="border: solid 1px red; overflow:auto; width: 80%; height:200px"></div>
    <!-- 输入框和按钮 -->
    <textarea id="shuru"></textarea> <br>
    <button id="send" style="width:80%">发送</button>

    <script>
        // 引入组件
        import Vue from 'vue'
        // 创建app实例
        new Vue ({el: "#app"});
        console.log(Vue);






        jb = function() {
            var room = $('#r').val()
            alert(room)
            // var room = 'demo'  // 通过代码获取到demo房间
            // 进行连接
            var socket = io.connect('http://'+location.host);
            // 测试连接成功
            socket.on("connect", function() {
                data = {'room': room}
                socket.emit('join', data)   // 这行代码主要是为了激活加入房间的函数
                console.log('连接成功');
            })
            socket.on("disconnect", function (){
                data = {'room': room}
                socket.emit('join', data)

            })
            // 接受消息
            socket.on(room, function(data) {
                $("#t").append(data).append("<br>");
            })

            // 发送消息
            $("#send").click(function(event) {
                var text = $("#shuru").val();
                socket.emit('msg', text);
                $("#shuru").val("");    // 清空

            })
            // 退出
            $("#exit").click(function (event){
                socket.emit('laval', 'hhh');
                // 关闭连接
                socket.close();
                console.log("退出成功")
                location.reload()
            })
        }
    </script>
</body>
</html>