{% extends "base.html"%}

{% block not404 %}
<style>
    #a404 li {display: initial;
        font-size: 40px;
    }
</style>
<h1>错误页面</h1>
<hr>
<p>恭喜你误打误撞来到后花园，看看再走把！</p>
<div id="a404">
    <ul>
        <li> 😃 </li><li> 😄 </li><li> 😁 </li><li> 😆 </li><li> 😅 </li><li> 🤣 </li>
        <li> 😂 </li><li> 🙂 </li><li> 🙃 </li><li> 😉 </li><li> 😊 </li><li> 😕 </li>
        <li> 😟 </li><li> 🙁 </li><li> 😮 </li><li> 😯 </li><li> 😲 </li><li> 😳 </li>
        <li> 🥺 </li><li> 😦 </li><li> 😧 </li><li> 😨 </li><li> 😰 </li><li> 😥 </li>
        <li> 😢 </li><li> 😭 </li><li> 😱 </li><li> 😖 </li><li> 😣 </li><li> 💘 </li>
        <li> 💝 </li><li> 💖 </li><li> 💗 </li><li> 💓 </li><li> 💞 </li><li> 💕 </li>
        <li> 💔 </li><li> ❤️‍🔥 </li><li> ❤️‍🩹 </li><li> 🧡 </li>

        
{% endblock %}