{% extends 'base.html' %}

{% block email %}
    <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center; margin: 0 auto">
  <div class="card-header">Welcome to the dream</div>
  <div class="card-body text-primary">
    <h5 class="card-title">发送邮件测试</h5>
      <form method="post">
        {{ form.csrf_token }}
        {{ form.subject(class="form-control", placeholder="主题") }}
        <br>
        {{ form.to(class="form-control", placeholder="收件人") }}
        <br>
          {{ form.body(class="form-control", placeholder="内容") }}
          <br>
        {{ form.submit(class="btn btn-success btn-lg btn-block", style="font-size:12px;") }}
    </form>
  </div>
</div>
{% endblock %}