{% extends 'base.html' %}

{% block chat %}

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>

    <div style="display: inline; float: right">
    <select id="select_room" class="form-select" aria-label="Default select example">
          <option>选择一个房间</option>
        {% for i in rooms %}
          <option value="{{ i.title }}">{{ i.title }}</option>
        {% endfor %}
    </select>
    <a href="#" id="exit" style="float: right">退出</a>
    </div>
    <!--创建房间按钮-->
    <i  id="room" data-bs-toggle="offcanvas"><svg width="25" height="25" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16"><path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/><path fill-rule="evenodd" d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 1 1-1 0v-1h-1a.5.5 0 1 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/></svg></i>
    <span style="color: red; font-size: 18px" class="statu">●</span><br>
    <span style="color: #7f8c97; margin-left: 10px">共 {{ msg|length }}个对话</span>

    <div>
        <!--信息展示框 -->
        <div id="message" >
            <!--提问和回答 -->
        </div>

        <!--加载按钮-->
        <div id="ai_load" style="margin:0 auto">
        <div class="spinner-grow text-primary" role="status" style="width: 11px; height: 11px"></div>
        <div class="spinner-grow text-danger" role="status" style="width: 11px; height: 11px"></div>
        <div class="spinner-grow text-warning" role="status" style="width: 11px; height: 11px"></div>
    </div>

        <!--问题输入框 -->
        <hr>
        <div class="input-group" style="padding-bottom: 5px;">
                <textarea class="form-control" aria-label="With textarea" style="height: 40px" placeholder="你想问什么（限制128个字数）" name="comment" id="msg"></textarea>
                    <button id="ChatButton" href="#ChatButton" type="button" class="btn btn-primary" style="border-radius: 0 5px 5px 0;" data-target="#top"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16"><path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/></svg>
                </button>
            </div>
    </div>

    <audio src="" id="music" preload="auto" />
    <audio src="" id="music2" preload="auto" />

    <script>
        // 加载时隐藏
        $("#ai_load").hide();
        // 加载时默认断开状态
        $(".statu").css('color', 'red');
        // 获取房间名字发过去

        $("#select_room").change(function (e){
            var room = $(this).val()

            console.log(room)
            // 发送请求
            $.ajax({
                url:"/chat/post/"+room,
                type:'post',
                success: (function(data){
                    chat(room)
                    // 使用for循环把数据插入html中
                   // if (data==="空白"){
                    //    return 'none'
                   // }
                    $(".card").remove()   // 删除所有消息div里面的元素
                    for (var i=0; i<data.length; i++){
                        var me_html = '<div class="card" style="margin-top: 25px"><div class="card-body"> <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px; float: right">'+ data[i].mt +'</h6> <h5 class="card-title" style="color: #1a9aef">你：</h5> <p class="card-text" style="color:green; font-size: 15px">'+ data[i].me +' </p> <hr><div class="ai"></div></div></div>';
                        $("#message").append(me_html)
                        var ai_html = '<span class="card-subtitle mb-2 text-muted" style="font-size: 12px; float: right">'+ data[i].at +'</span> <h5 class="card-title">ChatGPT：</h5> <p class="card-text" style="font-size: 15px; color: gray">'+data[i].ai+'</p>'
                        $(".ai:last").append(ai_html)
                    }
                    // 自动滚到最底部
                    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                })
            })
        })

        // 聊天
        chat = function (room) {
            var socket = io();

            // 测试是否连接成功
            socket.on('connect', function (){
                // 改变状态
                $(".statu").css('color', 'green');
                // 播放提示
                $("#music").attr('src', 'http://127.0.0.1:5002/static/music/tongzhi.mp3');
                document.getElementById('music').play();
                // 这里是加入指定的房间，默认用demo测试,后期替换成变量
                data = {'room': room}
                socket.emit('join', data);  // 进入join函数，并且携带数据，作为房间
            })
            // 断开连接
            socket.on('disconnect', function (){
                console.log("连接也断开了")
            })
            // 退出房间按钮
            $("#exit").click(function (){
                socket.emit('leave');  // 退出
                console.log('退出成功')
                //socket.close()
                location.reload(); // 刷新页面

            })

            // 接受ai消息
            socket.on(room, function(data) {
                // 隐藏加载中的div
                $("#ai_load").hide();
                // 释放按钮
                $("#ChatButton").removeAttr('disabled')
                // 插入机器人的回复
                var html = '<span class="card-subtitle mb-2 text-muted" style="font-size: 12px; float: right">2021-01-01</span> <h5 class="card-title">ChatGPT：</h5> <p class="card-text" style="font-size: 15px; color: gray">'+ data + '</p>';
                // 这个用法是选择最后一个div，然后插入html
                $(".ai:last").append(html);
                // 定位到最底部
                $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                // 播放提示
                $("#music2").attr('src', 'http://127.0.0.1:5002/static/music/ai.mp3');
                document.getElementById('music2').play();
            })
            // 接受提问者返回的
            socket.on('huifu', function (data){
                var html = '<div class="card" style="margin-top: 25px" name="abc"> <div class="card-body"> <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px; float: right">2021-01-01</h6> <h5 class="card-title" style="color: #1a9aef">你：</h5> <p class="card-text" style="color:green; font-size: 15px">'+data+'</p> <hr><div class="ai"></div></div></div>'
                // 在这一步中就要把自己的消息插入到html中，避免机器人很慢回复
                $("#message").append(html)
                // 定位到插入信息的部分
                $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                // 显示加载中的div
                $("#ai_load").show();
                // 禁用发送按钮
                $("#ChatButton").attr('disabled', 'disabled');
            })
            // 发送消息
            $("#ChatButton").click(function(event) {
                var text = $("#msg").val();   // 获取自己发的消息
                socket.emit('msg', text);    // 发送到服务端
                $("#msg").val("");    // 清空

            })
        }

        // 创建房间
        $(function (){
            $("#save").click(function () {
                $.ajax({
                    url: "/chat/create_room/{{ um.id }}",
                    type: "post",
                    data: {
                        room_name: $("#roomname").val()
                    }
                })
            })
        })
    </script>
{% endblock %}