{% extends 'base.html' %}

{% block infos %}
    <style>
        .d {
            margin: 0 auto;
            border-radius: 10px;
            width: 100%;
        }
        i{padding: 10px;}
    </style>

    <div>
        <div class="card d" style="width: 80%">
            <img src="{{ url_for('static', filename='images/ali.gif') }}" class="card-img-top" alt="...">
          <div class="card-body d">
              <span class="badge badge-warning" style="font-size: 15px">{{ user.username }}</span>
              {% if user.gender == '1' %}
                  <span class="badge badge-primary" style="font-size: 15px">♂</span>
              {% else %}
                <span class="badge badge-primary" style="font-size: 15px; background-color: hotpink" >♀</span>
              {% endif %}

              <span class="badge badge-info" style="font-size: 15px" data-toggle="tooltip" data-placement="top" title="生日：{{ user.birthday }}">巨蟹</span>
              <p class="card-text" style="font-size: 12px; color: rgba(0,0,0,0.69); padding-top: 10px;">{{ user.signature }}</p>
              <hr>
              <i class="fa fa-trademark s" style="font-size:30px;color:green"></i>
              <span>{{ user.user_id }}</span> <br>
              <i class="fa fa-envelope s" style="font-size:30px;color:blue"></i>
              <span>{{ user.email }}</span>
              <br>
              <i class="fa fa-credit-card s" style="font-size:30px;color:#e5b708"></i>
              <span>100000000.00</span>
              <br>
              <div style="text-align: center; border-radius: 10px; border: #d9d9d9 solid 1px; padding-top: 5px;">
                  <i id="load" class="fa fa-file-text s" style="font-size:30px;color:#ffc107" data-toggle="tooltip" data-placement="top" title="我的回忆"></i>
                  <i class="fa fa-heart s" style="font-size:30px;color:red" data-toggle="tooltip" data-placement="top" title="收藏"></i>
                  <i class="fa fa-user-circle s" style="font-size:30px;color:yellowgreen" data-toggle="tooltip" data-placement="top" title="我关注的人"></i>
                  <i class="fa fa-users s" style="font-size:30px;color:pink" data-toggle="tooltip" data-placement="top" title="关注我的人"></i>
                  <i class="fa fa-pencil-square-o s" style="font-size:30px;color:red" data-toggle="tooltip" data-placement="top" title="修改资料" id="xiugai"></i>
                  <i class="fa fa-gear s" style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="设置"></i>
              </div>

          </div>
        </div>
    </div>
    <div class="huiyi"></div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    // 异步加载
    </script>

    <script type="text/javascript">
     $(function () {
        $('#load').click(function (){
            $.ajax({
                url: '/post/me/{{ um.id }}',
                type: 'get',
                success: function (data) {
                    $('.huiyi').empty();  // 删除旧元素
                    $('.huiyi').append(data);   //  插入元素
                }
            })
        })
    })
    </script>

{% endblock %}