{% extends 'base.html' %}


{% block posts %}
<link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
<body>
	<section id="cd-timeline" class="cd-container">
		{% for i in post %}
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="{{ url_for('static', filename='images/alipay.svg') }}" alt="🤔">
				</div>
				<div class="cd-timeline-content">
					<h2>{{ i.title }}</h2>
					{% autoescape false %}
					<p>{{ i.content[0:50] }}...</p>
					{% endautoescape %}
                    <a href="{{ url_for('post.post_details', id=i.id) }}" class="btn btn-outline-success" style="float: right">进入梦境</a>
					<span class="cd-date" >{{ i.create_time}}</span>
				</div>
			</div> 
		{% endfor %}
	</section> 

<svg width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" id="w">
	<a href="{{ url_for('post.editor') }}">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
  </a>
</svg>
<svg width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16" id="t1">
<a href="#top"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/> </a> </svg>
</body>
{% endblock %}
